<% const currentFlash = typeof flash !== 'undefined' ? flash : {}; %>
<% if (currentFlash && currentFlash.error === 'missing_bang_gia_name') { %>
  <div class="flash-message flash-error">Vui lòng nhập tên bảng giá.</div>
<% } else if (currentFlash && currentFlash.error) { %>
  <div class="flash-message flash-error">Thao tác không thành công. Vui lòng thử lại.</div>
<% } %>
<% if (currentFlash && currentFlash.success === 'created_bang_gia') { %>
  <div class="flash-message flash-success">Đã tạo bảng giá mới.</div>
<% } else if (currentFlash && currentFlash.success) { %>
  <div class="flash-message flash-success">Thao tác đã được xử lý thành công.</div>
<% } %>
